.container-card{
  background: var(--gray-600);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;  /* se separam ao maximo*/
  align-items: center;
  padding: 12px 20px;
}

.container-card p{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--gray-200);
}

.container-card button{
  background: transparent;
}

.container-card button{
  background: transparent;
  border: 0;  
  color: var(--white);
  transition: color 0.2s;
  line-height: 0;
  border-radius: 2px;
}

.container-card button:hover{
  cursor: pointer;
  color: var(--red-500);
}

